@font-face {
    font-family: "Manrope-Regular";
    src: url("./assets/Manrope-Regular.woff2") format("woff2");
}

@Font-face {
    font-family: "Manrope-Bold";
    src: url(".assets/Manrope-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url("./assets/Manrope-ExtraBold.woff2") format("woff2");
}

@Font-face {
    font-family: "Manrope-ExtraLight";
    src: url(".assets/Manrope-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Manrope-Light";
    src: url("./assets/Manrope-Light.woff2") format("woff2");
}

@Font-face {
    font-family: "Manrope-Medium";
    src: url(".assets/Manrope-Medium.woff2") format("woff2");
}

@Font-face {
    font-family: "Manrope-SemiBold";
    src: url(".assets/Manrope-SemiBold.woff2") format("woff2");
}

h1 {
    font-family: "Manrope-bold";
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: "Manrope-regular";
    font-size: 20px;
    text-align: center;
}

.paragraph {
    font-family: "Manrope-light";
    text-align: center;
}

.invisible:hover {
    opacity: 0;
    }